
.app{
    margin: 25px;
  }
  .header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #656565;
    width: 110px;
    margin-bottom: -24px;
    padding: 3px 0px 1px 10px;
    border-style: solid;
    border-bottom: none;
    border-color: #656565;
    border-width: 2px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    position:relative;
    resize: none;
    z-index: -1;
  }

  .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c56e4f;
    font-size: 16px;
    /* margin: 5px 10px 0px 10px; */
    resize: none;
    font-weight: 600;
    border: none;
    outline: none;
    width: 200px;
    height: 20px;
   
  }
  
  .description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #656565;
    margin-top: -3px;
    font-size: 14px;
    /* margin: 0px 10px 0px 10px; */
    resize: none;
    font-weight: 500;
    border: none;
    width: 200px;
    height: 120px;
  }

